.info-card {
  &__img {
    display: none;
  }

  &__content {
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    &__img {
      display: block;
      width: calc(100% - 280px);

      img {
        // object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &__content {
      width: 280px;
      flex-shrink: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    &__content {
      width: 400px;
      padding: 50px 20px 20px 30px;
    }
  }
}
