@use '../colors';

.hero {
  padding: 180px 0 0;
  background: url('../images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: colors.$light-xl;
  }

  &__content {
    margin-top: 13.584%;

    p {
      color: colors.$dark-s;
    }

    &>* {
      margin: 0;
    }

    display: flex;
    flex-direction: column;
    row-gap: 42px;
    max-width: 460px;
  }

  &__image {
    width: 58.17%;
    max-width: 698px;
    height: 56.875vw;
    max-height: 728px;
    background: url('../images/hero-puppy.png') center bottom no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: 1279px) {
    padding: 120px 0 0;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      margin-top: 30px;
    }

    &__button {
      text-align: center;
      margin-bottom: 100px;
    }

    &__image {
      width: 569px;
      height: 593px;
      // align-self: flex-end;
      margin-left: 139px;
    }
  }

  @media screen and (max-width: 767px) {
    text-align: center;

    &__image {
      width: 81.5vw;
      height: 85vw;
      margin-left: auto;
      margin-top: 5px;
    }

    &__title {
      font-size: 25px;
      line-height: 130%;
      letter-spacing: 0.06em;
    }
  }
}
