@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia/georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia/georgia_bold.ttf") format("truetype");
  font-weight: 700;
}
